.caroufredsel_slider .caroufredsel_wrapper,
.caroufredsel_slider ul,
.caroufredsel_slider li,
.caroufredsel_slider img {
  margin: 0;
  padding: 0;
}

.caroufredsel_slider {
  position: relative;
  text-align: center;
}

.caroufredsel_slider ul {
  list-style: none;
}

.caroufredsel_slider li {
  display: block;
  float: left;
}

.caroufredsel_slider .prev,
.caroufredsel_slider .next {
  cursor: pointer;
  position: absolute;
  bottom: 0;
}

.caroufredsel_slider .prev {
  left: 0;
}

.caroufredsel_slider .next {
  right: 0;
}

.caroufredsel_slider .pagination a {
  padding: 0 5px;
}

.caroufredsel_slider .pagination a.selected {
  text-decoration: underline;
}

.caroufredsel_slider .progress .bar {
  margin: 0;
}
